body { background: #df59c8; margin: 0; font-family: sans-serif; }
.storefront-container { padding: 38px; display: flex; }
.block-order-0 { color: #af2a25; font-size: 19px; margin-bottom: 5px; }
.block-product-1 { color: #164669; font-size: 16px; margin-bottom: 5px; }
.block-validator-2 { color: #5c8560; font-size: 17px; margin-bottom: 5px; }
.block-invoice-3 { color: #ba14da; font-size: 16px; margin-bottom: 5px; }
.block-validator-4 { color: #687291; font-size: 21px; margin-bottom: 5px; }